<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= params[:name] %></h1>
  <strong><p>Coach: <%= params[:coach] %></p></strong>
  <strong><p>Point Guard: <%= params[:pg] %></p></strong>
  <strong><p>Shooting Guard: <%= params[:sg] %></p></strong>
  <strong><p>Small Forward: <%= params[:sf] %></p></strong>
  <strong><p>Power Forward: <%= params[:pf] %></p></strong>
  <strong><p>Center: <%= params[:c] %></p></strong>
 </body>
</html>


